{{!-- Errors due to invalid input show up here. --}}
<div id="errors">
  {{#if errors}}
    <ul id="errors-list">
      {{#each errors}}
        <li>{{this.param}}: {{this.msg}}</li>
      {{/each}}
    </ul>
  {{/if}}
</div>
