{{!-- Errors due to invalid input show up here. --}}
<div id="errors">
  {{#if errors}}
    <ul id="errors-list">
      {{#each errors}}
        <li>{{#if this.param~}}
        	{{this.param}}: {{this.msg}}
        {{~else~}}
      		{{this.msg}}
      	{{~/if}}</li>
      {{/each}}
    </ul>
  {{/if}}
</div>
