<table>
  <thead>
    <tr>
      <th class="action-col">Action</th>
      <th class="color-coded"></th>
      {{#each list.[0]}}
        {{~#neq? @key 'use_state'~}}
          <th>{{@key}}</th>
        {{~/neq?~}}
      {{/each}}
    </tr>
  </thead>
  <tbody>
    {{~#each list~}}
      <tr>
        <td class="action-col">
          {{~#eq? this.use_state 'new'~}}
            <img class="action-icon" src="/images/remove.png">
          {{~/eq?~}}
          {{~#eq? this.use_state 'used'~}}
            <img class="action-icon" src="/images/hide.png">
          {{~/eq?~}}
          {{~#eq? this.use_state 'inactive'~}}
            <img class="action-icon" src="/images/restore.png">
          {{~/eq?~}}
        </td>
        <td class="color-coded {{this.use_state}}"></td>
        {{~#each this~}}
          {{~#neq? @key 'use_state'~}}
            <td>
              {{this}}
            </td>
          {{~/neq?~}}
        {{~/each}}
      </tr>
    {{~/each}}
  </tbody>
</table>