<nav id="navbar">
  <ul>
    <li><a href="http://www.smokebuddy.com">
      <img id="nav-logo" src="/images/smokebuddy-logo-nav.png"></a></li>
    <li><a href="/profile">
    {{#if-role @role "in" "A"}}
      User Management
    {{else}}
      Profile
    {{/if-role}}
    </a></li>
    <li><a href="/inventory">Inventory</a></li>
    <li><a href="/scan">Scan</a></li>
    {{#if-role @role "in" "A"}}
      <li><a href="/customer_orders">Customer Orders</a></li>
      <li><a href="/orders">Factory Orders</a></li>
    {{/if-role}}
    <li><a href="/styles">Manage Styles</a></li>
    <li><a href="/auth/logout">Logout</a></li>
    <li><img src={{@user_picture}} id="profile-photo" alt="User photo"></li>
  </ul>
</nav>