{{> nav }}

<div class="container">

  <h1>{{@title}}</h1>
  <p class="description">{{@description}}</p>

  <div class="list-all">

    <select name="type" id="select-type">
      <option value="Retail" selected>Retail</option>
      <option value="Wholesale">Wholesale</option>
    </select>

    <div id="serial-box">
      <label for="serial">Serial #: </label>
      <input id="serial" type="text" name="serial">
      <ul class="error"></ul>
    </div>
    
    <div id="notes-box">
      <label for="notes">Notes: </label>
      <textarea id="notes" name="notes" rows="3" cols="50" maxlength="128"></textarea>
      <ul class="error"></ul>
    </div>

    <table id="list-table">
      <thead id="list-head">
        <tr>
          <th class="action-col">Action</th>
          <th class="color-coded"></th>
          <th>
            Serial 
            <img src="/images/none.png" class="none"></th>
          <th>
            SKU 
            <img src="/images/none.png" class="none"></th>
          <th>
            Created 
            <img src="/images/none.png" class="none"></th>
          <th>
            Inner 
            <img src="/images/none.png" class="none"></th>
          <th>
            Master
            <img src="/images/none.png" class="none"></th>
          <th>
            Item Qty.
            <img src="/images/none.png" class="none"></th>
        </tr>
      </thead>
      <tbody id="list-body">
        <tr>
          <td class="action-col add">
            <img class="action-icon" src="/images/new.png">
          </td>
          <td class="color-coded add"></td>
          <td class="serial add">
            <input type="text" name="serial">
            <ul class="error"></ul>
          </td>
          <td class="sku add"></td>
          <td class="created add"></td>
          <td class="inner add"></td>
          <td class="master add"></td>
          <td class="quantity add"></td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td>TOTAL:</td>
          <td colspan="6"></td>
          <td id="total"></td>
        </tr>
      </tfoot>
    </table>

    <div id="items-box" class="items">
      <ul class="error"></ul>
    </div>

    <br>
    <button id="submit-order-btn">Submit Order</button>

    {{!-- Hidden element contains model name necessary for Javascript function. --}}
    <div id="model-name" class="hidden-name">{{@modelName}}</div>
  </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
<script src="/js/orders.js"></script>
<script src="/js/customer.js"></script>
