<nav>
  <li><a href="/profile">Profile</a></li>
  <li><a href="/inventory">Inventory</a></li>
  <li><a href="/scan">Scan</a></li>
  <li><a href="/orders">Orders</a></li>
  <li><a href="/accounts">Accounts</a></li>
</nav>

<h1>Welcome {{displayName}} -- {{email}}!</h1>
