<nav>
	<p> Profile </p>
	<p> Inventory </p>
	<p> Create Order </p>
</nav>

<<<<<<< HEAD
<h1>Welcome {{displayName}} -- {{email}}!</h1>

=======
<h1>Welcome {{displayName}} -- {{email}}!</h1>
>>>>>>> 6162adc928c89c677114de48aefc70b141fb6abd
