<img src="/images/404.png" alt="404 Error">

{{!-- req.baseUrl should be the last query made. That should
      be passed as the error. --}}
<h4 id="404-message">Oops! Something went wrong at <span id="404-error">{{url}}</span></h4>

<p>{{error}}</p>