<link rel="stylesheet" href="/css/index.css">

<div class="container" id="index-container">
  <img src="/images/smokebuddy-logo.png">

  <a href="/auth/login"><button id="login-button">Login</button></a>

  {{> error_msg }}
</div>