<link rel="stylesheet" href="/css/scan.css"></link>

<div id="scan-target">
	<p id="instructions"></p>
	<input type="text" id="scan-input"></input>
</div>

<div id="status">

</div>

<img class="scan-items" src="/qr/generate?wawa=1" alt='qrcode'>
<img class="scan-items" src="/qr/generate?delay=4" alt='qrcode'>

<table>
	<thead>
		<tr>
			<th></th>
			<th>Id</th>
			<th>Type</th>
			<th>Color</th>
			<th>Size</th>
			<th>Qty</th>
		</tr>
	</thead>
	<tbody>
	</tbody>
</table>

<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
<script src="/js/scan.js"></script>