{{> nav }}

<div class="container">
	<div id="scan-target">
		<p id="instructions"></p>
		<input type="text" id="scan-input">
	</div>

	<div id="status">

	</div>

	<table>
		<thead>
			<tr>
				<th>ID</th>
				<th>Status</th>
				<th>Color</th>
				<th>Size</th>
				<th>Create Date</th>
				<th>Ship Date</th>
				<th>Label</th>
				<th>Order ID</th>
			</tr>
		</thead>
		<tbody id="item-data">
		</tbody>
	</table>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
<script src="/js/scan.js"></script>
