<link rel="stylesheet" href="/css/scan.css">

{{> nav }}

<div class="container">
	<div id="scan-target">
		<p id="instructions"></p>
		<input type="text" id="scan-input">
	</div>

	<div id="status">

	</div>

	<img src="{{@qr}}"></img>

	<table>
		<thead>
			<tr>
				<th></th>
				<th>Id</th>
				<th>Type</th>
				<th>Color</th>
				<th>Size</th>
				<th>Qty</th>
			</tr>
		</thead>
		<tbody>
		</tbody>
	</table>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
<script src="/js/scan.js"></script>
