body {
  margin: 0;
  padding: 0;
  background: -webkit-radial-gradient(white, rgba(128,110,32,0.34));
  background: radial-gradient(white, rgba(128,110,32,0.34));
  background-attachment: fixed;
  background-size: 100% 100%;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.container {
  margin: 75px;
}

label {
  display: block;
}

#errors-list {
  list-style-type: none;
  padding-left: 0;
  color: red;
}

footer {
  height: 1rem;
  background-color: #40404b;
  color: #eee;
  text-align: center;
  margin: 0 auto;
  letter-spacing: 20px;
  font-weight: bold;
  position: fixed;
  left: 0px;
  top: calc(100vh - 1rem);
  width: 100vw;
  border-top: 1px solid black;
  font-size: 0.8rem;
}