table {
	border-collapse: collapse;
}

table tbody tr:hover {
	background-image: linear-gradient(to right, white, #f4e242, #f4e242, #f4e242);
}

table th {
	background-color: #40404b;
	border-width: 0px;
	border-top: 1px solid black;
	text-transform: capitalize;
	text-shadow: 1px 1px 0px black, 
							-1px -1px 0px black,
							1px -1px 0px black,
							-1px 1px 0px black;
	vertical-align: bottom;
	padding-bottom: 1px;
	font-weight: lighter;
	font-size: 1.5em;
}

table tr {
	height: 1.6rem;
}

table tr:nth-child(even) {
  background-color: #f2f2f2;
}

table tr:nth-child(odd) {
  background-color: #fff;
}

table td {
	padding-bottom: 0px;
}

.list-all {
  display: inline-block;
}

.add {
	border-width: 0px;
	vertical-align: top;
}

.action-col {
	text-align: center;
	border-left: 1px solid #999;
	vertical-align: middle;
}

td.action-col:hover {
	background-color: #fff;
}

th.action-col, th.color-coded {
	background-color: #ffdc18;
	border-top: 1px solid black;
}

.action-icon {
	width: 1.2rem;
	height: 1.2rem;
	opacity: 0.6;
	cursor: pointer;
}

.action-icon:hover {
	opacity: 1.0;
}

.action-icon:active {
	transform: translate(2px, 2px);
}

.color-coded {
	width: 5px;
	border: 0px;
	padding: 0px;
}

.today {
	font-style: italic;
	margin-top: 12px;
}

.color-coded.add {
	background-color: #A4C639;
}

.color-coded.none {
	background-color: mediumvioletred;
}

.color-coded.new {
	background-color: paleturquoise;
}

.color-coded.used {
	background-color: lightcoral;
}

.color-coded.inactive {
	background-color: lightsteelblue;
}

.error {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
  color: red;
}

.hidden {
	visibility: hidden;
}