table {
  border-collapse: separate;
  border-spacing: 0px;
}

table tbody tr:hover {
  background-image: linear-gradient(to right, white, #f4e242, #f4e242, #f4e242);
}

table th {
  background-color: #40404b;
  border-width: 0px;
  text-transform: capitalize;
  text-shadow: 1px 1px 0px black, 
              -1px -1px 0px black,
              1px -1px 0px black,
              -1px 1px 0px black;
  vertical-align: bottom;
  padding: 5px;
  padding-bottom: 1px;
  font-weight: lighter;
  font-size: 1.5em;
  color: white;
}

table tr {
  height: 1.6rem;
}

table tr:nth-child(even) {
  background-color: #e8e8e8;
}

table tr:nth-child(odd) {
  background-color: #fff;
}

tfoot tr td {
  background-color: #40404b;
  color: #fff;
  font-weight: bold;
  padding-bottom: 3px;
}

table td:last-child {
  border-right: 1px solid #ccc;
}

tfoot tr:last-child td {
  box-shadow: 0px 5px 0px 0px #40404b;
}

tfoot tr:last-child td:first-child {
  border-width: 0px;
  border-bottom-left-radius: 10px;
  background-clip: padding-box;
}

tfoot tr:last-child td:last-child {
  border-width: 0px;
  border-bottom-right-radius: 10px;
  background-clip: border-box;
}

.list-all {
  display: inline-block;
}

.add {
  border-width: 0px;
  vertical-align: top;
}

.action-col {
  text-align: center;
  border-left: 1px solid #999;
  vertical-align: middle;
}

.action-col a:link {
  text-decoration: none;
}

td.action-col:hover {
  background-color: #fff;
}

th.action-col, th.color-coded {
  background-color: #ffdc18;
  border-top: 1px solid #aaa;
}

.action-icon, .print-qr, 
.expand {
  width: 1.2rem;
  height: 1.2rem;
  opacity: 0.6;
  cursor: pointer;
  margin: 3px 2px 0px 2px;
}

.action-icon:hover, .print-qr:hover,
.expand:hover {
  opacity: 1.0;
}

.action-icon:active, .print-qr:active,
.expand:active {
  transform: translate(2px, 2px);
}

.color-coded {
  width: 5px;
  border: 0px;
  padding: 0px;
}

.today {
  font-style: italic;
  margin-top: 12px;
}

.color-coded.add {
  background-color: #A4C639;
}

.color-coded.eternal {
  background-color: mediumvioletred;
}

.color-coded.new {
  background-color: paleturquoise;
}

.color-coded.used {
  background-color: lightcoral;
}

.color-coded.hidden {
  background-color: lightsteelblue;
}

.error {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
  color: red;
}

.hidden-name {
  visibility: hidden;
}

#message-bar {
  visibility: hidden;
  border: 1px solid black;
  border-radius: 10px;
  background-color: #eee;
  position: fixed;
  bottom: 0;
  right: 0;
  width: 35vw;
  height: 2vh;
  text-align: center;
  margin: 5vh;
  padding-top: 4vh;
  padding-bottom: 4vh;
  font-weight: bold;
  color: #d55;
}