table {
  border-collapse: separate;
  border-spacing: 0px;
}

table tbody tr:hover {
  background-image: linear-gradient(to right, white, #f4e242, #f4e242, #f4e242);
}

table th {
  background-color: #40404b;
  border-width: 0px;
  text-transform: capitalize;
  text-shadow: 1px 1px 0px black, 
              -1px -1px 0px black,
              1px -1px 0px black,
              -1px 1px 0px black;
  vertical-align: bottom;
  padding: 5px;
  padding-bottom: 1px;
  font-weight: lighter;
  font-size: 1.5em;
  color: white;
}

table tr {
  height: 1.6rem;
}

table tr:nth-child(4n-1),
table tr:nth-child(4n) {
  background-color: #e8e8e8;
}

table tr:nth-child(4n-3),
table tr:nth-child(4n-2) {
  background-color: #fff;
}

tfoot tr td {
  background-color: #40404b;
  color: #fff;
  font-weight: bold;
  height: 30px;
}

table td:nth-child(n + 3) {
  border-left: 1px solid #ddd;
  padding-left: 10px;
  padding-right: 10px;
}

table td:last-child {
  border-right: 1px solid #ccc;
}

table,
tfoot tr:last-child td:first-child {
  border-width: 0px;
  border-bottom-left-radius: 10px;
  overflow: hidden;
}

table,
tfoot tr:last-child td:last-child {
  border-width: 0px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}

input[type=text], input[type=number], select {
  font-size: 14px;
  padding: 4px;
  display: block;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 5px 2px;
}

input[type=number] {
  width: 8em;
}

.list-all {
  display: inline-block;
}

.add {
  border-width: 0px;
  vertical-align: top;
  border-bottom: 1px dashed black;
}

.action-col {
  text-align: center;
  border-left: 1px solid #999;
  vertical-align: middle;
}

.action-col a:link {
  text-decoration: none;
}

td.action-col:hover {
  background-color: #fff;
}

th.action-col, th.color-coded {
  background-color: #ffdc18;
  border-top: 1px solid #aaa;
}

.action-icon, .print-qr, 
.expand, .stock, .none,
.asc, .desc {
  width: 1.2rem;
  height: 1.2rem;
  opacity: 0.6;
  cursor: pointer;
  margin: 3px 2px 0px 2px;
}

.none {
  cursor: default;
}

.action-icon:hover, .print-qr:hover,
.expand:hover, .stock:hover,
.asc:hover, .desc:hover {
  opacity: 1.0;
}

.action-icon:active, .print-qr:active,
.expand:active, .stock:active,
.asc:active, .desc:active {
  transform: translate(2px, 2px);
}

.color-coded {
  width: 5px;
  border: 0px;
  padding: 0px;
}

.today {
  font-style: italic;
  margin-top: 12px;
}

.color-coded.add {
  background-color: #A4C639;
}

.color-coded.eternal {
  background-color: mediumvioletred;
}

.color-coded.new {
  background-color: paleturquoise;
}

.color-coded.used {
  background-color: lightcoral;
}

.color-coded.hidden {
  background-color: lightsteelblue;
}

.error {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
  color: red;
}

.hidden-name {
  visibility: hidden;
}

.details-row {
  visibility: visible;
  display: none;
}

.details-row.show {
  display: table-row;
  background-color: #40404b;
  margin: 2vh;
}

.details-row:hover,
.details-row td:hover,
.details-row td table:hover {
  background-image: none;
}

.details-row td {
  border: 1px solid black;
}

.details-row table {
  width: 95%;
  margin: 2vh auto;
}

.details-row table th {
  background-color: #ffdc18;
  color: black;
  font-size: 1em;
  font-weight: bold;
  text-transform: capitalize;
  text-shadow: none;
  border-width: 0px;
  border-bottom: 2px solid black;
}

.details-row table td {
  border-width: 0;
}

.details-row table tr:nth-child(even) {
  background-color: #e8e8e8;
}

.details-row table tr:nth-child(odd) {
  background-color: #fff;
}

.details-row table th,
.details-row table td {
  height: 1em;
  width: auto;
  text-align: center;
}

.details-row table,
.details-row th:first-child {
  border-top-left-radius: 10px;
  overflow: hidden;
}

.details-row table,
.details-row th:last-child {
  border-top-right-radius: 10px;
  overflow: hidden;
}

.details-row table,
.details-row tr:last-child td:first-child {
  border-bottom-left-radius: 10px;
  overflow: hidden;
}

.details-row table,
.details-row tr:last-child td:last-child {
  border-bottom-right-radius: 10px;
  overflow: hidden;
}

.sort-link {
  text-decoration: underline dotted;
  color: white;
  cursor: pointer;
}

#message-bar {
  visibility: hidden;
  border: 1px solid black;
  border-radius: 10px;
  background-color: #eee;
  position: fixed;
  bottom: 0;
  right: 0;
  width: 35vw;
  height: 2vh;
  text-align: center;
  margin: 5vh;
  padding-top: 4vh;
  padding-bottom: 4vh;
  font-weight: bold;
  color: #d55;
}

#pages {
  float: right;
  width: 150px;
  height: 28px;
  background-color: #eee;
  margin: 0px;
  margin-right: 1vw;
  padding: 0px;
  color: #40404b;
  text-align: center;
  font-size: 25px;
}

#pages input {
  display: inline;
  padding: 0px;
  font-size: 14px;
  vertical-align: middle;
  margin-bottom: 8px;
  width: 3.5em;
}

#pages button {
  display: inline;
  vertical-align: middle;
  margin-bottom: 8px;
}

#prior-page, #after-page {
  text-decoration: none;
}