#navbar {
  height: 40px;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  z-index: 100;
  background-color: #0C7436;
}

#nav-settings-menu {
  position: fixed;
  width: 100px;
  height: 180px;
  display: none;
  z-index: 100;
}

#nav-inventory-menu {
  position: fixed;
  width: 100px;
  display: none;
  z-index: 100;
}

#nav-customer-menu {
  position: fixed;
  width: 100px;
  display: none;
  z-index: 100;
}

#nav-factory-menu {
  position: fixed;
  width: 100px;
  display: none;
  z-index: 100;
}

#navbar ul,
#nav-settings-menu ul,
#nav-inventory-menu ul,
#nav-customer-menu ul,
#nav-factory-menu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
  background-color: #0C7436;
  z-index: 100;
  display: inline;
}

#navbar li, 
#nav-settings-menu li,
#nav-inventory-menu li,
#nav-customer-menu li,
#nav-factory-menu li {
  display: table;
  float: left;
  background-color: #0C7436;
}

#navbar li {
  height: 40px;
}

#nav-settings-menu li,
#nav-inventory-menu li,
#nav-customer-menu li,
#nav-factory-menu li {
  height: 30px;
  width: 150px;
}

#navbar li a,
#navbar li div,
#nav-settings-menu li a,
#nav-inventory-menu li a,
#nav-customer-menu li a,
#nav-factory-menu li a {
  display: table-cell;
  text-decoration: none;
  vertical-align: middle;
  color: white;
  text-align: left;
  font-weight: bold;
  font-stretch: condensed;
  font-size: 1.25em;
  padding: 0px 15px;
  cursor: pointer;
}

#navbar li div:hover,
#navbar li a:hover,
#nav-settings-menu li a:hover,
#nav-inventory-menu li a:hover,
#nav-customer-menu li a:hover,
#nav-factory-menu li a:hover {
  background-color: #0C4426;
}

#nav-logo {
  height: 35px;
}

#profile-photo {
  display: table-cell;
  height: 30px;
  vertical-align: middle;
  margin: 5px;
  margin-right: 2vw;
  float: right;
}

@media screen and (max-width: 810px) {
  #profile-photo {
    display: none;
  }

  #navbar li a,
  #navbar li div,
  #nav-settings-menu li a,
  #nav-inventory-menu li a,
  #nav-customer-menu li a,
  #nav-factory-menu li a {
    font-size: 1em;
  }
}

@media screen and (max-width: 675px) {
  #navbar li a,
  #navbar li div,
  #nav-settings-menu li a,
  #nav-inventory-menu li a,
  #nav-customer-menu li a,
  #nav-factory-menu li a {
    font-size: 0.8em;
  }
}