html, body {
  margin: 0;
  padding: 0;
  background-color: floralwhite;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.container {
  margin: 75px;
}

label {
  display: block;
}

input[type=text], input[type=number], select {
  font-size: 18px;
  padding: 5px;
  display: block;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin: 5px 0;
}

#notes {
  width: 30vw;
}

.btn-primary {
  background-color: lightblue;
}

.btn-primary:hover {
  background-color: steelblue;
}

.btn-success {
  background-color: greenyellow;
}

.btn-success:hover {
  background-color: olivedrab;
}

.btn-danger {
  background-color: salmon;
}

.btn-danger:hover {
  background-color: indianred;
}

.btn {
  margin: 1vh;
  margin-top: 5px;
  padding: 5px 10px;
  border-radius: 5px;
  border: 0;
  box-shadow: 1px 2px 4px 0 #333333;
  cursor: pointer;
}

.btn:active {
  box-shadow: 1px 1px 2px 0;
}


table {
  border-collapse: collapse;
}

table td, table th {
  border: 1px solid #ddd;
  padding: 8px;
}

table tr:nth-child(even) {
  background-color: #f2f2f2;
}

table tr:nth-child(odd) {
  background-color: #fff;
}

table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #333;
  color: white;
}